body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Judson", serif;
  background: rgb(4, 3, 32);
  background: radial-gradient(
    circle,
    rgba(4, 3, 32, 1) 0%,
    rgba(47, 36, 119, 1) 100%
  );
}


/* Header section */

header {
  width: 100vw;
  color: whitesmoke;
  font-family: "Archivo Black";
  font-size: larger;
}

.navButton{
  background-color: transparent;
  border: none;
  position:absolute; 
  top:0; 
  left:0;
  padding: 20px;
  margin: 20px;
  margin-top:  10px;
}

.navButton :hover{
  transform: scale(1.1);
  cursor: pointer;

}

.fa-bars{
  color: white;

}

/* main section */
main {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1;
  font-family: sans-serif;
}

footer {
  color: whitesmoke;
}

a {
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
}

p {
  align-self: center;
  color: whitesmoke;
}

ul {
  list-style: none;
  padding: 0;
}

/* topContainer and search feature */
.topContainer {
  display: flex;
  flex-direction: column;
}

.description {
  text-align: center;
  width: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.searchContainer {
  width: 90vw;
  align-self: center;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}


.movieSearch {
  display: flex;
  flex-direction: column;
}

.fa-search{
  padding: 0.5rem;
  color: white;
}

.movieName {
  align-self: center;
  height: 30px;
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none; 
  outline: none;
  background: rgb(146,148,209);
  background: linear-gradient(153deg, rgba(146,148,209,1) 0%, rgba(67,107,148,1) 91%);
  color: white;
  border-radius: 10px;
  border: 0;
  box-shadow: 0.25rem 0.25rem 0rem rgba(130,144,158,1);
}

.movieDropdown {
  position: absolute;
  display: inline-block;
  margin-top: 8vw;
}

.movieSuggestions {
  display: flex;
  background: rgb(255, 249, 252);
  background: radial-gradient(
    circle,
    rgba(255, 249, 252, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin: 2vw;
  min-width: 160px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  align-self: center;
  border-radius: 20px;
}

.movieSuggestions:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.movieSuggestions img {
  width: 10vw;
  margin: 1vw;
  border-radius: 10px;
}

.movieSuggestions p {
  margin: 0 3vw;
  text-align: left;
  color: black;
}

/* featured films */


.featured {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  font-family: "Archivo Black";
}

.featuredDiv {
  margin: 2vw;
  transition: all 0.2s ease-in-out;
  background: rgb(255, 249, 252);
  background: radial-gradient(
    circle,
    rgba(255, 249, 252, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 10px;
}

.featuredTag{
  color: #1D1751;
}

.featuredDiv:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.featuredImage {
  width: 40vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* movieCard */

.movieCard {
  display: flex;
  flex-direction: row;
}

/* aside */

.watchlist {
  margin-top: 0;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 3vw;
  transition: 0.5s;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  }

.headerContainer {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  color: whitesmoke;
  font-family: "Archivo Black";
  font-size: larger;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.nav-items{
  list-style:none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  display: none;
  font-family: "Archivo Black";
  
}

.navbarHeader{
  color: white;
  font-size: large;
}

.country {
  margin: 2vw;
  min-width: 20vw;
  background: rgb(146,148,209);
  background: linear-gradient(153deg, rgba(146,148,209,1) 0%, rgba(67,107,148,1) 91%);
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0.25rem 0.25rem 0rem rgba(130,144,158,1);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;

}

.openWatchlist{ 
  height: min-content;
  min-width: 20vw;
  background: rgb(146,148,209);
  background: linear-gradient(153deg, rgba(146,148,209,1) 0%, rgba(67,107,148,1) 91%);
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0.25rem 0.25rem 0rem rgba(130,144,158,1);
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.openWatchlist:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.watchlistDropdown{
  display: none;
  background: rgb(146,148,209);
  background: linear-gradient(153deg, rgba(146,148,209,1) 0%, rgba(67,107,148,1) 91%);
  border: none;
  border-radius: 0.5rem;
  color: white;
  margin: 20px;
  outline: none;
  box-shadow: 0.25rem 0.25rem 0rem rgba(130,144,158,1);
}

.watchlistDropdown li {
  padding: 2vw;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.watchlistDropdown h2 {
  font-weight: 300;
  margin-top: 60px;
}

.watchlistDropdown .WatchlistMovie {
  transition: all 0.2s ease-in-out;
}

.watchlistMovie:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.watchlist .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* movieInfo */
.movieInfo {
  display: flex;
  flex-direction: column;
  margin: 0 3vw;
}

.movieContainer {
  display: flex;
  flex-direction: column;
  margin: 3vw 0;
  border: none; 
  outline: none;
  background: rgb(146,148,209);
  background: linear-gradient(153deg, rgba(146,148,209,1) 0%, rgba(67,107,148,1) 91%);
  color: white;
  border-radius: 10px;
  border: 0;
  box-shadow: 0.25rem 0.25rem 0rem rgba(130,144,158,1);
}

.title-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.watchlistButton {
  align-self: center;
  margin-bottom: 2vw;
  font-size:25px;
  border:none;
  background: transparent;
  padding-right: 10px;
  /* display: none; */
}
.watchlistButton:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color:rgb(146,148,209);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  transition: opacity 1s ease-in-out;
  z-index: 1;
  top: 110%;
  font-size:300;
}

.watchlistButton:hover:before {
  opacity: 1;
  visibility: visible;
}

.watchlistButton :hover{
  transform: scale(1.1);
  cursor: pointer;
}

.fa-bookmark-o{
  color: white;
}


.movieTitle {
  font-family: "Archivo Black";
  font-size: large;
  justify-content: space-between;
}

.movieImage {
  width: 70%;
  align-self: center;
  border-radius: 20px;
}

.streamingSection{
  padding-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-weight: 100;
}

.description2 {
  display: none;
  cursor: pointer;
}

/* @media (max-width: 767px) {
  .openWatchlist {
    height: 6vw;
  }

  .watchlist {
    margin-top: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 3vw;
    transition: 0.5s;
  }
  .watchlist li {
    padding: 2vw;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .watchlist .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
} */

@media (min-width: 768px) {
  .searchContainer {
    flex-direction: row;
    justify-content: space-around;
  }

  .country {
    margin: 0;
    width: 10vw;
  }

  .movieSearch {
    display: flex;
    flex-direction: column;
  }

  .movieDropdown {
    margin-top: 2vw;
  }

  .movieName {
    align-self: center;
  }

  .movieTitle {
    font-size: xx-large;
  }

  /* .openWatchlist {
    display: none;
  } */

  /* .watchlist {
    min-width: 35vw;
    display: flex;
  } */

  /* .closebtn {
    display: none;
  }

  .watchlist h2 {
    font-size: x-large;
  } */
}
