body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Judson", serif;
  background: rgb(4, 3, 32);
  background: radial-gradient(
    circle,
    rgba(4, 3, 32, 1) 0%,
    rgba(47, 36, 119, 1) 100%
  );
}

header {
  width: 100vw;
  color: whitesmoke;
  font-family: "Archivo Black";
  font-size: larger;
}

main {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1;
  font-family: sans-serif;
}

footer {
  color: whitesmoke;
}

.topContainer {
  display: flex;
  flex-direction: column;
}

p {
  align-self: center;
  color: whitesmoke;
}
.searchContainer {
  width: 90vw;
}
.movieSearch {
  display: flex;
  flex-direction: column;
}
.movieName {
  align-self: center;
  /* position: relative; */
  /* display: inline-block; */
}

.movieSuggestions {
  display: flex;
  background-color: #f9f9f9;
  margin: 1vw;
  min-width: 160px;
  max-width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.movieSuggestions img {
  width: 20vw;
  margin: 1vw;
}

.movieSuggestions p {
  margin: 0 3vw;
  text-align: left;
  color: black;
}

.searchButton {
  align-self: center;
}

.description {
  text-align: center;
  width: 80%;
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.searchContainer {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.movieDropdown {
  position: relative;
  display: inline-block;
}

.movieCard {
  display: flex;
  flex-direction: row;
}

.watchlist {
  display: flex;
  flex-direction: column;
}

.movieInfo {
  display: flex;
  flex-direction: column;
}

.movieContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.country {
  margin: 2vw;
  width: 20vw;
}

@media (min-width: 768px) {
  .description {
    width: 80%;
  }
  .descriptionContainer {
    width: 100%;
  }
  .searchContainer {
    flex-direction: row;
    justify-content: space-around;
  }
  .country {
    margin: 0;
    width: 10vw;
  }
  .movieSearch {
    display: flex;
    flex-direction: column;
  }
  .movieName {
    align-self: center;
  }
}
